In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

###Reading car Data
data=pd.read_csv('turboaz.csv',usecols=['Yurush','Buraxilish ili', 'Qiymet'],delimiter=',')
print(data.shape)
data.head()

(1328, 3)

   Buraxilish ili      Yurush     Qiymet
0            1999  366 000 km  12500 AZN
1            2014  102 000 km    31500 $
2            2002  469 700 km  11700 AZN
3            1998  556 680 km   9700 AZN
4            2000  300 000 km  12700 AZN