In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
#from matplotlib import pyplot as plt

In [2]:
###Reading car Data
data=pd.read_csv('turboaz.csv',usecols=['Yurush','Buraxilish ili', 'Qiymet'])
print(data.shape)
data.head()

(1328, 3)

   Buraxilish ili      Yurush     Qiymet
0            1999  366 000 km  12500 AZN
1            2014  102 000 km    31500 $
2            2002  469 700 km  11700 AZN
3            1998  556 680 km   9700 AZN
4            2000  300 000 km  12700 AZN

In [3]:
il=data['Buraxilish ili']
yurus=data['Yurush'].map(lambda x: x.rstrip('km').replace(' ','')).map(int)
qiymet=data['Qiymet'].map(lambda x:float(x.rstrip('$'))*1.7 if '$' in x  else float(x.rstrip('AZN')))

In [ ]:
il=(il-il.mean())/il.std()
yurus=(yurus-yurus.mean())/yurus.std()
qiymet=(qiymet-qiymet.mean())/qiymet.std()

In [4]:

alpha = 0.0001


m = len(yurus)
x0 = np.ones(m)
X = np.array([x0,yurus,(il**2)],dtype=numpy.float64).T
T = np.array([0, 0, 0])
Y = np.array(qiymet)

In [5]:
def cost_function(X, Y, T):
    m = len(Y)
    J = np.sum((X.dot(T) - Y) ** 2)/(2 * m)
    return J

In [6]:
 cost_function(X, Y, T)

207350411.8323343

In [7]:
def gradient_descent(X, Y, T, alpha, iterations):
    cost_history = [0] * iterations
    m = len(Y)
    
    for iteration in range(iterations):
        h = X.dot(T)
        loss = h - Y
        gradient = X.T.dot(loss) / m
        T = T - alpha * gradient
        cost = cost_function(X, Y, T)
        cost_history[iteration] = cost
        
    return T, cost_history

In [8]:
newT, cost_history = gradient_descent(X, Y, T, alpha, 100000)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: RuntimeWarning: overflow encountered in square
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: RuntimeWarning: invalid value encountered in subtract
  if __name__ == '__main__':